body {
    background-color: lightblue;
}
.tag {
    color: yellow;
}
.heading {
    text-align: center;
    color: yellow;
    text-shadow: 1.5px 1.5px black;
    font-size: 60px;
    font-family: 'Aclonica', sans-serif;
}
#main{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 1000px;
    margin: 20px auto;
    box-sizing: border-box;
    background-color: white;
}
#playerDiv {
    display: flex;
    flex-direction: column;
    width: 690px;
    margin-right: 15px;
}
#video-player {
    width: 690px;
    height: 390px;
}
#views{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}
#videoTitle {
    font-family: 'Source Serif Pro', serif;
}
#icons {
    display: flex;
    justify-content: space-between;
}
#playerDiv p {
    font-size: 18px;
    color: grey;
}
.fa-heart{
    margin-right: 15px;
    font-size: 18px;
}
.fa-bookmark {
    margin-right: 20px;
    font-size: 18px;
}
#main-playlist{
    border-left: 2px solid lightgrey;
    padding-left: 15px;
}
.wrapper1 {
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid lightgrey;
    margin-bottom: 15px;
    cursor: pointer;
}
.wrapper2 {
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 2px solid grey;
    margin-bottom: 15px;
    cursor: pointer;
}
.thumbnail {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.title {
    margin: 8px 0 15px 0;
    padding-left: 6px;
    font-family: 'Source Serif Pro', serif;
}

#videoDescription {
    font-family: 'Noto Sans TC', sans-serif;
}
